pandas
numpy
geopy
shapely
openpyxl  # For reading Excel files
requests  # For API calls
python-dateutil  # For date handling
PyYAML==6.0.2  # For configuration files
langchain==0.3.21
openai==1.69.0
langchain-core
langchain-community
langchain-openai
chromadb
tiktoken
python-dotenv
arcgis==2.4.0
